table.cbuffer th, table.keytable th {
  background-color: #7fb24c;
}
table.cbuffer td, table.keytable td {
  background-color: #336600;
}
td.keyPurpose {
  color: #ffbebe;
}
table.asgrid td, table.gallery td {
  border-color: #ffffff;
}
div.B {
  background-color: #00002e;
}
div.H {
  color: #00002e;
  background-color: #ffffff;
}
table.timetable th, table.lesson th {
  background-color: #7fb24c;
}
table.timetable td, table.lesson td {
  background-color: #336600;
}
table.mgrid td {
  border-color: #ffffff;
}
table.asm {
  background-color: #193300;
}
table.boxData td {
  background-color: #669933;
}
table.boxData th {
  background-color: #99cc66;
}
