table.cbuffer th, table.keytable th {
  background-color: #88aacc;
}
table.cbuffer td, table.keytable td {
  background-color: #bbddff;
}
td.cbufPage, td.cbufAddress, td.cbufBytes, td.keyIndex, td.key, td.keyAddress, td.keyOffset {
  text-align: center;
}
td.keyPurpose {
  color: #800080;
}
table.asgrid, table.gallery {
  border-collapse: collapse;
}
table.asgrid td, table.gallery td {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}
table.asgrid td {
  width: 48px;
  height: 48px;
}
table.gallery td {
  padding: 5px;
}
table.A {
  border-width: 1px;
  border-style: solid;
}
div.T {
  height: 32px;
  width: 32px;
}
div.B {
  background-color: #ffffe0;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
}
div.B td {
  vertical-align: top;
}
div.P {
  position: absolute;
  z-index: 100;
  display: none;
}
div.H {
  color: #ffffe0;
  background-color: #000000;
  text-align: center;
}
tr.asm-input-header, tr.asm-output-header {
  display: none;
}
