table.cbuffer th, table.keytable th {
  background-color: #775533;
}
table.cbuffer td, table.keytable td {
  background-color: #442200;
}
td.keyPurpose {
  color: #7fff7f;
}
table.asgrid td, table.gallery td {
  border-color: #ffffff;
}
div.B {
  background-color: #00001f;
}
div.H {
  color: #00001f;
  background-color: #ffffff;
}
